[submodule "third_party/catch2"]
	path = third_party/catch2
	url = https://github.com/catchorg/Catch2.git
	branch = devel
[submodule "third_party/nanobench"]
	path = third_party/nanobench
	url = https://github.com/martinus/nanobench.git
